[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rstanemax"]
	path = rstanemax
	url = https://github.com/yoshidk6/rstanemax
[submodule "survParamSim"]
	path = survParamSim
	url = https://github.com/yoshidk6/survparamsim
